<tr>
  <td><%= movie.name %></td>
  <td><%= movie.realese %></td>
  <td><%= movie.actor %></td>
  <td><%= movie.director %></td>
  <td><%= movie.rating %>
   <div class="rateit" id="rateit">
          </div></td>
 <!--  <td><%= link_to 'Show', movie %></td>
  <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
  <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
</tr>